# This is a sample of what your .env file should look like if you wanted to run integration tests.
# If you move this file to the .env and replace the environment variables with your own values, then the environment
# will be included when the rake test tasks are executed. Otherwise, you could just export the environment vars
# yourself.


SECRET_KEY=SECRET_KEY
DEBUG=True
DB_NAME=DB_NAME
DB_USER=DB_USER
DB_PASSWORD=DB_PASSWORD
DB_HOST=DB_HOST
DB_PORT=DB_PORT
DATABASE=postgres